body {
  background-color: #011F3F;
}

.howToPlay
{
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  margin:  5%;
  color: #FEF2BF;
}

#level-title {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.row
{
  margin: 0;
}

.container-fluid
{
  font-family: 'Press Start 2P', cursive;
  color: #FEF2BF;
  margin: 25px;
}

#rules
{
  text-decoration: none;
  color: #FEF2BF;
}

#rules:hover {
  color: hotpink;
}

.container {
  text-align: center;
  display: block;
  width: 50%;
  margin: auto;

}

.start-btn
{
  font-family: 'Press Start 2P', cursive;
  color: #FEF2BF;
  font-size: 1.5rem;
  margin: 25px;
  display: inline-block;
  height: 100px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
  background-color: #865439;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
